    
* {
    font-family: arial;
}
    
body {
    background-color: rgba(0,0,0,100%);
    background-image: url("../img/background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);   /* Marca de agua */
    margin: 0;
}

    
/*----------- NAV BAR ---------------- */
nav {
    text-align: right;
    padding: 10px 30px;
}

nav .home {text-decoration: none;}

nav .home:hover {
    background-color: rgba(50,50,50,100%);
    border-radius: 10px;
}

.devbtn , .home {
    background-color: rgba(0,0,0,0);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.development {
    position: relative;
    display: inline-block;
}
.devlist {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 133px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.devlist a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.devlist a:hover {
    background-color: #ddd;
    border: solid;
}

.development:hover .devlist {
    display: block;
    border-radius: 10px;
}

.development:hover .devbtn {
    background-color: rgba(50,50,50,100%);
    border-radius: 10px;
    }

    /*---------- TitleTexts ----------*/

.titletext {
    color: white;
    font-size: 50px;
    text-align: center;
}

.titletext2 {
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.atom {
    width: 30%;
    margin: 0 34%;
}
/*------ Page's Description ---------*/

div .cppinf , .pyinf , .gnuinf {
    padding: 0% 2%;
    padding-top: 1.5%;
    padding-bottom: 1.7%;
    width: 50%;
    text-align: center;
    color: white;
    background-color: rgba(255,255,255,4%);
    border-radius: 10px;
    transition: transform .2s;
}

div .cpp, .py, .gnu {width: 50%;}

div .cppinf {margin: 0% auto 20%;}

div .pyinf {margin: 0% auto 20%;}

div .gnuinf {margin: 0% auto 0%;}

div .cppinf:hover, .pyinf:hover, .gnuinf:hover {transform: scale(1.1);}
/*------ FOOTER ------ */

footer {
    margin-top: 300px;
    clear: both;
    text-align: center;
    background-color: rgba(0,0,0,80%);
}




/*************** Ipad size ***************/

@media only screen and (min-width: 768px) {
    
    .titletext {font-size: 50px;}
    
    .titletext2 {font-size: 20px;}
    
    /*------ Page's Description ---------*/
    
    div .cppinf , .pyinf , .gnuinf {
	width: 25%;
	float: left;	
    }
    
    div .cpp, .py, .gnu {width: 30%;}
    
    div .cppinf {margin: 0% 2%;}
    
    div .pyinf {
	margin: 0% 2%;
	padding-top: 30px ;
	padding-bottom: 65px;
    }
    
    div .gnuinf {
	margin: 0% 1%;
	padding-top: 30px ;
	padding-bottom: 50px;
    }  

}

/************* Laptop size ************/

@media only screen and (min-width: 1000px) {
    

}
